CompileFlags:
  Add: [
    "-I./src",
    "-I./src/kstfl",
    "-I./src/vendor",
    "-I./src/vendor/freetype/include",
    "-I./src/vendor/harfbuzz/src",
    "-I/usr/local/R/4.5.3/lib/R/include",
    "-I/Users/meguty/Library/R/arm64/4.5/library/Rcpp/include",
    "-DHAVE_FREETYPE",
    "-DHB_NO_MT",
    "-DSTRICT_R_HEADERS",
    "-std=c++20"
  ]
